@import 'tailwindcss';
@import '@fontsource/vazirmatn';

body {
  font-family: 'Vazirmatn', sans-serif;
}

@layer utilities {
  .rounded-5px {
    border-radius: 5px;
  }
  
  .rounded-7px {
    border-radius: 7px;
  }
}